.main-div-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}

.header-links {
    margin: 20px 50px;
}

.links {
    margin: 0px 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.logo{
    width: 120px;
    margin-top: 10px;
    border-radius: 20px;
}